<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>org.dao.Login</servlet-class>
    </servlet>

<servlet-mapping>
    <servlet-name>ServletloginGet</servlet-name>
    <url-pattern>/ServletloginGet</url-pattern>
</servlet-mapping>
    <servlet>
        <servlet-name>ServletloginGet</servlet-name>
        <servlet-class>org.dao.ServletloginGet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>org.dao.ServletRegister</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletNewADD</servlet-name>
        <url-pattern>/ServletNewADD</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletNewADD</servlet-name>
        <servlet-class>org.Servletxx.ServletNewADD</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletNewDelete</servlet-name>
        <url-pattern>/ServletNewDelete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletNewDelete</servlet-name>
        <servlet-class>org.Servletxx.ServletNewDelete</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletNewLimit</servlet-name>
        <url-pattern>/ServletNewLimit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletNewLimit</servlet-name>
        <servlet-class>org.Servletxx.ServletNewLimit</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletNewSelect</servlet-name>
        <url-pattern>/ServletNewSelect</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletNewSelect</servlet-name>
        <servlet-class>org.Servletxx.ServletNewSelect</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletNewUpdate</servlet-name>
        <url-pattern>/ServletNewUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletNewUpdate</servlet-name>
        <servlet-class>org.Servletxx.ServletNewUpdate</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletUserUpdate</servlet-name>
        <url-pattern>/ServletUserUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletUserUpdate</servlet-name>
        <servlet-class>org.Servletxx.ServletUserUpdate</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletZhengce</servlet-name>
        <url-pattern>/ServletZhengce</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletZhengce</servlet-name>
        <servlet-class>org.Servletxx.ServletZhengce</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletResource</servlet-name>
        <url-pattern>/ServletResource</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletResource</servlet-name>
        <servlet-class>org.Servletxx.ServletResource</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletNewLimitTo</servlet-name>
        <url-pattern>/ServletNewLimitTo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletNewLimitTo</servlet-name>
        <servlet-class>org.Servletxx.ServletNewLimitTo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEvironment</servlet-name>
        <url-pattern>/ServletEvironment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletEvironment</servlet-name>
        <servlet-class>org.Servletxx.ServletEvironment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletNewSelectID</servlet-name>
        <url-pattern>/ServletNewSelectID</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletNewSelectID</servlet-name>
        <servlet-class>org.Servletxx.ServletNewSelectID</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletZhengceID</servlet-name>
        <url-pattern>/ServletZhengceID</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletZhengceID</servlet-name>
        <servlet-class>org.Servletxx.ServletZhengceID</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletResourceSelect</servlet-name>
        <url-pattern>/ServletResourceSelect</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletResourceSelect</servlet-name>
        <servlet-class>org.Servletxx.ServletResourceSelect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCount</servlet-name>
        <url-pattern>/ServletCount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletCount</servlet-name>
        <servlet-class>org.Servletxx.ServletCount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDiscuz</servlet-name>
        <url-pattern>/ServletDiscuz</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletDiscuz</servlet-name>
        <servlet-class>org.Servletxx.Servle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDiscuzLimit</servlet-name>
        <url-pattern>/ServletDiscuzLimit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletDiscuzLimit</servlet-name>
        <servlet-class>org.Servletxx.ServletDiscuzLimit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletZhengceLimit</servlet-name>
        <url-pattern>/ServletZhengceLimit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletZhengceLimit</servlet-name>
        <servlet-class>org.Servletxx.ServletZhengceLimit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletResourceLimitTo</servlet-name>
        <url-pattern>/ServletResourceLimitTo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletResourceLimitTo</servlet-name>
        <servlet-class>org.Servletxx.ServletResourceLimitTo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletResourceDelete</servlet-name>
        <url-pattern>/ServletResourceDelete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletResourceDelete</servlet-name>
        <servlet-class>org.Servletxx.ServletResourceDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletNongyeHuanbao</servlet-name>
        <url-pattern>/ServletNongyeHuanbao</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletNongyeHuanbao</servlet-name>
        <servlet-class>org.Servletxx.ServletNongyeHuanbao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletNongyehuanbaoDelete</servlet-name>
        <url-pattern>/ServletNongyehuanbaoDelete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletNongyehuanbaoDelete</servlet-name>
        <servlet-class>org.Servletxx.ServletResourceDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletNongyeID</servlet-name>
        <url-pattern>/ServletNongyeID</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletNongyeID</servlet-name>
        <servlet-class>org.Servletxx.ServletNongyeID</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletZhengceTime</servlet-name>
        <url-pattern>/ServletZhengceTime</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletZhengceTime</servlet-name>
        <servlet-class>org.Servletxx.ServletZhengceTime</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletZhengceArea</servlet-name>
        <url-pattern>/ServletZhengceArea</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletZhengceArea</servlet-name>
        <servlet-class>org.Servletxx.ServletZhengceArea</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEnvGetall</servlet-name>
        <url-pattern>/ServletEnvGetall</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletEnvGetall</servlet-name>
        <servlet-class>org.Servletxx.ServletEnvGetall</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletChange</servlet-name>
        <url-pattern>/ServletChange</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletChange</servlet-name>
        <servlet-class>org.Servletxx.ServletChange</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletChangeID</servlet-name>
        <url-pattern>/ServletChangeID</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletChangeID</servlet-name>
        <servlet-class>org.Servletxx.ServletChangeID</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletZixun</servlet-name>
        <url-pattern>/ServletZixun</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletZixun</servlet-name>
        <servlet-class>org.Servletxx.ServletZixun</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletChangeinsert</servlet-name>
        <url-pattern>/ServletChangeinsert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletChangeinsert</servlet-name>
        <servlet-class>org.Servletxx.ServletChangeinsert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletChangeUpdate</servlet-name>
        <url-pattern>/ServletChangeUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletChangeUpdate</servlet-name>
        <servlet-class>org.Servletxx.ServletChangeUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletChangeDelete</servlet-name>
        <url-pattern>/ServletChangeDelete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletChangeDelete</servlet-name>
        <servlet-class>org.Servletxx.ServletChangeDelete</servlet-class>
    </servlet>
<servlet-mapping>
    <servlet-name>ServletNongyrhuanbaoInsert</servlet-name>
    <url-pattern>/ServletNongyrhuanbaoInsert</url-pattern>
</servlet-mapping>
    <servlet>
        <servlet-name>ServletNongyrhuanbaoInsert</servlet-name>
        <servlet-class>org.Servletxx.ServletNongyrhuanbaoInsert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletHuanbaoUpdate</servlet-name>
        <url-pattern>/ServletHuanbaoUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletHuanbaoUpdate</servlet-name>
        <servlet-class>org.Servletxx.ServletHuanbaoUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEnvInsert</servlet-name>
        <url-pattern>/ServletEnvInsert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletEnvInsert</servlet-name>
        <servlet-class>org.Servletxx.ServletEnvInsert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEnvUpdate</servlet-name>
        <url-pattern>/ServletEnvUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletEnvUpdate</servlet-name>
        <servlet-class>org.Servletxx.ServletEnvUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEnvDelete</servlet-name>
        <url-pattern>/ServletEnvDelete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletEnvDelete</servlet-name>
        <servlet-class>org.Servletxx.ServletEnvDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletResourceUpdate</servlet-name>
        <url-pattern>/ServletResourceUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletResourceUpdate</servlet-name>
        <servlet-class>org.Servletxx.ServletResourceUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletResourceInsert</servlet-name>
        <url-pattern>/ServletResourceInsert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletResourceInsert</servlet-name>
        <servlet-class>org.Servletxx.ServletResourceInsert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUserDelete</servlet-name>
        <url-pattern>/ServletUserDelete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletUserDelete</servlet-name>
        <servlet-class>org.Servletxx.ServletUserDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUserDeleteIphone</servlet-name>
        <url-pattern>/ServletUserDeleteIphone</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletUserDeleteIphone</servlet-name>
        <servlet-class>org.Servletxx.ServletUserDeleteIphone</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SerletNewNeed</servlet-name>
        <url-pattern>/SerletNewNeed</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SerletNewNeed</servlet-name>
        <servlet-class>org.Servletxx.SerletNewNeed</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletNongyehuanbaoLimit</servlet-name>
        <url-pattern>/ServletNongyehuanbaoLimit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletNongyehuanbaoLimit</servlet-name>
        <servlet-class>org.Servletxx.ServletNongyehuanbaoLimit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletResourceLimit</servlet-name>
        <url-pattern>/ServletResourceLimit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletResourceLimit</servlet-name>
        <servlet-class>org.Servletxx.ServletResourceLimit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletGetallUser</servlet-name>
        <url-pattern>/ServletGetallUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletGetallUser</servlet-name>
        <servlet-class>org.Servletxx.ServletGetallUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletZhengceInsert</servlet-name>
        <url-pattern>/ServletZhengceInsert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletZhengceInsert</servlet-name>
        <servlet-class>org.Servletxx.ServletZhengceInsert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletZhengceUpdate</servlet-name>
        <url-pattern>/ServletZhengceUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletZhengceUpdate</servlet-name>
        <servlet-class>org.Servletxx.ServletZhengceUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDxlFindPerson</servlet-name>
        <url-pattern>/ServletDxlFindPerson</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletDxlFindPerson</servlet-name>
        <servlet-class>org.Servletxx.ServletDxlFindPerson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDxlFindAll</servlet-name>
        <url-pattern>/ServletDxlFindAll</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletDxlFindAll</servlet-name>
        <servlet-class>org.Servletxx.ServletDxlFindAll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDxlSend</servlet-name>
        <url-pattern>/ServletDxlSend</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletDxlSend</servlet-name>
        <servlet-class>org.Servletxx.ServletDxlSend</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletNongyehuanbaoGetAll</servlet-name>
        <url-pattern>/ServletNongyehuanbaoGetAll</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletNongyehuanbaoGetAll</servlet-name>
        <servlet-class>org.Servletxx.ServletNongyehuanbaoGetAll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletResourceGetAll</servlet-name>
        <url-pattern>/ServletResourceGetAll</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletResourceGetAll</servlet-name>
        <servlet-class>org.Servletxx.ServletResourceGetAll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletNewGetAll</servlet-name>
        <url-pattern>/ServletNewGetAll</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletNewGetAll</servlet-name>
        <servlet-class>org.Servletxx.ServletNewGetAll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletZhengceGetAll</servlet-name>
        <url-pattern>/ServletZhengceGetAll</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletZhengceGetAll</servlet-name>
        <servlet-class>org.Servletxx.ServletZhengceGetAll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUserCount</servlet-name>
        <url-pattern>/ServletUserCount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletUserCount</servlet-name>
        <servlet-class>org.Servletxx.ServletUserCount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPPLinsert</servlet-name>
        <url-pattern>/ServletPPLinsert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletPPLinsert</servlet-name>
        <servlet-class>org.Servletxx.ServletPPLinsert</servlet-class>
    </servlet>
</web-app>