body{
    margin-top:0px;
}
.forumzong{
    width: calc(1130px - 10%);
    height:600px;
    text-align:center;
    padding:0px;
    margin: 0 auto;
}
.forummain{
    width: calc(1100px - 10%);
    height:120px;
    /*color:#fff;*/
    text-align:center;
    padding:0px;
    margin: 0 auto;
    background-image: url("../imgages/banner1.jpg");
    background-size:100%,100%;
    background-repeat: no-repeat;
}
.forummain2{
    width:815px;
    margin-left: 288px;
}
.forumul1{
    height:90px;
    margin: 0px;
    padding:0px;
}
.on{
    /*background-color: darkgreen ;*/
    margin-bottom: 18px;
}
.forumul1 li p{
    height:10px;
    margin-top: 0px;
}
.forummain2 .forumul1 li{
    width:78px;
    height:90px;
    list-style: none;
    padding: 0;
    margin:0;
    float: left;
    text-align: center;
}
.forummain2 .forumul1 li a em{
    color: black;
    font-style: normal;
    font-size: 15px;
}
a{
    text-decoration:none;
    color:black;
}
.forummain2 .forumul1 li a em:hover{
    color: darkgreen;
}
.forumindex{
    height:510px;
    top:100px;
    left:0px;
    bottom: 0px;
    width: calc(1100px - 10%);
    text-align:center;
    padding:0px;
    margin: 0 auto;
    border:1px solid #95C8F1;
    margin-top: 5px;
}
.forumindex1{
    height:70px;
    margin-top: 20px;
    border-bottom: 1px solid gainsboro;
}
.forumindex2{
    height:418px;
}
#forummain3{
    width:200px;
    height:30px;
    margin-left: 760px;
}